@model IEnumerable<TrashCollectorRemade.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialOneTimePickUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpStartDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpEndDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
}

</table>
